menu "IntercomListener General"
    
    config INTERCOM_DEEP_SLEEP_ENABLED
        bool "Deep sleep enabled"
        default true

    config INTERCOM_RING_GPIO_PIN
        int
        default 33

    config INTERCOM_WAKE_LEVEL
        int
        default 1

    config INTERCOM_DEEP_SLEEP_TIMER_ENABLED
        bool "Deep sleep timer wake up"
        default true

    config INTERCOM_DEEP_SLEEP_TIMER_PERIOD
        int "Wake up timer period in seconds" 
        default 10

    config INTERCOM_LED_BLUE_GPIO_PIN
        int "Blue LED GPIO Pin"
        default 4

    config INTERCOM_LED_GREEN_GPIO_PIN
        int "Green LED GPIO Pin"
        default 2
    
    config INTERCOM_LED_RED_GPIO_PIN
        int "Red LED GPIO Pin"
        default 0

endmenu

menu "IntercomListener WiFi"
    config INTERCOM_WIFI_SSID
        string "WiFi SSID"

    config INTERCOM_WIFI_PASSWORD
        string "WiFi Password"

    choice INTERCOM_WIFI_SAE_MODE
        prompt "WPA3 SAE mode selection"
        default INTERCOM_WIFI_WPA3_SAE_PWE_BOTH
        help
            Select mode for SAE as Hunt and Peck, H2E or both.
        config INTERCOM_WIFI_WPA3_SAE_PWE_HUNT_AND_PECK
            bool "HUNT AND PECK"
        config INTERCOM_WIFI_WPA3_SAE_PWE_HASH_TO_ELEMENT
            bool "H2E"
        config INTERCOM_WIFI_WPA3_SAE_PWE_BOTH
            bool "BOTH"
    endchoice

    config INTERCOM_WIFI_PW_ID
        string "PASSWORD IDENTIFIER"
        depends on INTERCOM_WIFI_WPA3_SAE_PWE_HASH_TO_ELEMENT|| INTERCOM_WIFI_WPA3_SAE_PWE_BOTH
        default ""
        help
            password identifier for SAE H2E

    config INTERCOM_WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    choice INTERCOM_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "WiFi Scan auth mode threshold"
        default INTERCOM_WIFI_AUTH_WPA2_PSK
        help
            The weakest authmode to accept in the scan mode.
            This value defaults to INTERCOM_WIFI_AUTH_WPA2_PSK incase password is present and INTERCOM_WIFI_AUTH_OPEN is used.
            Please select INTERCOM_WIFI_AUTH_WEP/INTERCOM_WIFI_AUTH_WPA_PSK incase AP is operating in WEP/WPA mode.

        config INTERCOM_WIFI_AUTH_OPEN
            bool "OPEN"
        config INTERCOM_WIFI_AUTH_WEP
            bool "WEP"
        config INTERCOM_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config INTERCOM_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config INTERCOM_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config INTERCOM_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config INTERCOM_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
        config INTERCOM_WIFI_AUTH_WAPI_PSK
            bool "WAPI PSK"
    endchoice

endmenu